@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "HankenGrotesk";
    font-weight: 100;
    src: url("/public/font/HankenGrotesk-Thin.ttf");
  }
  @font-face {
    font-family: "HankenGrotesk";
    font-weight: 200;
    src: url("/public/font/HankenGrotesk-ExtraLight.ttf");
  }
  @font-face {
    font-family: "HankenGrotesk";
    font-weight: 300;
    src: url("/public/font/HankenGrotesk-Light.ttf");
  }
  @font-face {
    font-family: "HankenGrotesk";
    font-weight: 400;
    src: url("/public/font/HankenGrotesk-Regular.ttf");
  }
  @font-face {
    font-family: "DMSans";
    font-weight: 400;
    src: url("/public/font/DMSans-Regular.ttf");
  }
  @font-face {
    font-family: "HankenGrotesk";
    font-weight: 500;
    src: url("/public/font/HankenGrotesk-Medium.ttf");
  }
  @font-face {
    font-family: "HankenGrotesk";
    font-weight: 600;
    src: url("/public/font/HankenGrotesk-SemiBold.ttf");
  }
  @font-face {
    font-family: "HankenGrotesk";
    font-weight: 700;
    src: url("/public/font/HankenGrotesk-Bold.ttf");
  }
  @font-face {
    font-family: "HankenGrotesk";
    font-weight: 800;
    src: url("/public/font/HankenGrotesk-ExtraBold.ttf");
  }
}

.active svg {
  @apply !opacity-100;
}

.error {
  @apply !border !border-red-500 shadow-sm shadow-red-500;
}

.login-form {
  font-family: "Roboto", sans-serif;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}
.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 2px;
  border-radius: 4444px;
  background-color: #E8E8E8;
}
input[type="checkbox"]:checked + label::before {
  border: 5px solid #02A0FC;
}